/* &display=swap&subset=cyrillic-ext */

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
html,
body {
	height: 100%;
}
html {
	font-size: 16px; /* по умолчанию */
}
body {
	line-height: 1;
	overflow: hidden;
}
.wrapper {
	min-height: 100%;
	overflow: hidden;
}

.sky {
	background-color: #87ceeb;
	max-width: 100%;
	height: 350px;
	position: relative;
}

.sun {
	background-color: #f9d71c;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	box-shadow: 0px 0px 50px 50px #f9d71c;
	position: absolute;
	top: 10%;
	left: 10%;
	animation: sun 2s linear infinite alternate;
}

@keyframes sun {
	0% {
		box-shadow: 0px 0px 50px 50px #f9d71c;
	}

	100% {
		box-shadow: 0px 0px 20px 50px #f9d71c;
	}
}

.cloud {
	background-color: #fff;
	width: 200px;
	height: 50px;
	position: absolute;
	left: -20%;
	border-radius: 52% 48% 76% 24% / 78% 25% 75% 22%;
	box-shadow: 0px 0px 40px 50px #fff;
}

.cloud:hover {
	animation-play-state: paused;
}

.cloud_one {
	top: 50px;
	animation: cloud-one 20s linear infinite;
}

.cloud_two {
	top: 90px;
	animation: cloud-two 20s linear infinite 5s;
}

.cloud_three {
	top: 50px;
	animation: cloud-three 20s linear infinite 10s;
}

.cloud_four {
	top: 90px;
	animation: cloud-four 20s linear infinite 15s;
}

.cloud_five {
	top: 70px;
	animation: cloud-five 20s linear infinite 20s;
}

@keyframes cloud-one {
	0% {
		left: -20%;
	}

	100% {
		left: 105%;
	}
}

@keyframes cloud-two {
	0% {
		left: -20%;
	}

	100% {
		left: 105%;
	}
}

@keyframes cloud-three {
	0% {
		left: -20%;
	}

	100% {
		left: 105%;
	}
}

@keyframes cloud-four {
	0% {
		left: -20%;
	}

	100% {
		left: 105%;
	}
}

@keyframes cloud-five {
	0% {
		left: -20%;
	}

	100% {
		left: 105%;
	}
}

.road {
	background-color: #858585;
	max-width: 100%;
	height: 350px;
	position: relative;
	z-index: 0;
}
.road__markup {
	background-color: #fff;
	width: 100%;
	height: 20px;
	position: absolute;
	top: 140px;
}

.grass {
	background: url(../img/grass-pattern.jpeg);
	width: 100%;
	height: 300px;
}

.bus {
	background-color: #ffd800;
	position: absolute;
	z-index: 1;
	top: 220px;
	left: -450px;
	width: 350px;
	height: 200px;
	border-radius: 6% 7% 5% 5% / 14% 14% 9% 10%;
	animation: bus 15s linear infinite;
}

@keyframes bus {
	0% {
		left: -25%;
	}

	100% {
		left: 100%;
	}
}

.bus__front {
	background-color: #f9d71c;
	position: absolute;
	top: 80px;
	left: 330px;
	width: 100px;
	height: 120px;
	border-radius: 0% 25% 0% 0% / 14% 19% 100% 10%;
	z-index: 1;
}

.bus__radiator-line {
	background: #2a2a2a;
	border-radius: 100% 0% 0% 100% / 16% 33% 39% 84%;
	width: 15px;
	height: 3px;
	position: relative;
	z-index: 2;
	top: 17px;
	left: 85px;
	margin-bottom: 13px;
}

.bus__radiator-line_one::before {
	content: "";
	background: #2a2a2a;
	border-radius: 100% 0% 0% 100% / 16% 33% 39% 84%;
	width: 15px;
	height: 3px;
	position: absolute;
	z-index: 2;
	top: 8px;
}

.bus__radiator-line_two::before {
	content: "";
	background: #2a2a2a;
	border-radius: 100% 0% 0% 100% / 16% 33% 39% 84%;
	width: 15px;
	height: 3px;
	position: absolute;
	z-index: 2;
	top: 8px;
}

.bus__radiator-line_three::before {
	content: "";
	background: #2a2a2a;
	border-radius: 100% 0% 0% 100% / 16% 33% 39% 84%;
	width: 15px;
	height: 3px;
	position: absolute;
	z-index: 2;
	top: 8px;
}

.bus__header {
	position: relative;
}
.bus__window {
	width: 60px;
	height: 70px;
	border: 2px solid #000;
	border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
	position: absolute;
}

.bus__window_one {
	background: url(../img/child.png) top center / 150% no-repeat #b2c9eb;
	top: 10px;
	left: 15px;
}
.bus__window_two {
	background: url(../img/child1.png) top center / 150% no-repeat #b2c9eb;
	top: 10px;
	left: 85px;
}
.bus__window_three {
	background: url(../img/child2.png) top center / 100% no-repeat #b2c9eb;
	top: 10px;
	left: 155px;
}

.bus__window_four {
	background: url(../img/child3.png) top left / 150% no-repeat #b2c9eb;
	top: 10px;
	left: 225px;
}

.bus__windshield {
	background: url(../img/driver.png) top center / 170% no-repeat #b2c9eb;
	width: 55px;
	height: 70px;
	border: 2px solid #000;
	border-right: none;
	border-radius: 10% 18% 0% 10% / 10% 20% 10% 10%;
	position: absolute;
	top: 10px;
	left: 295px;
}

.bus__doors {
	width: 70px;
	height: 180px;
	border: 2px solid #000;
	border-radius: 10% 10% 10% 10% / 10% 10% 10% 10%;
	position: absolute;
	top: 6px;
	left: 220px;
}

.bus__headlights {
	background: radial-gradient(circle, rgba(223, 188, 0, 1) 52%, rgba(142, 127, 51, 1) 100%);
	width: 20px;
	height: 20px;
	border-radius: 100% 10% 13% 100% / 88% 50% 50% 90%;
	position: relative;
	top: 15px;
	left: 87px;
}

.bus__headlights::before {
	content: "";
	height: 20px;
	width: 7px;
	border-radius: 82% 77% 77% 82% / 100% 100% 100% 100%;
	position: absolute;
	left: 13px;
	background: linear-gradient(
		to bottom,
		#b5b5b5 0%,
		#bababa 26%,
		#8d8d8d 44%,
		#8d8d8d 44%,
		#8d8d8d 59%,
		#959595 60%,
		#a0a0a0 76%,
		#999999 99%,
		#a1a1a1 100%,
		#959595 100%
	);
}

.bus__headlights::after {
	content: "";
	height: 20px;
	width: 5px;
	border-radius: 100%;
	position: absolute;
	left: 16px;
	background: linear-gradient(to bottom, #e2e2e2 0%, #d1d1d1 0%, #dbdbdb 5%, #fefefe 100%);
}

.bus:hover .bus__headlights::after {
	content: "";
	height: 20px;
	width: 5px;
	border-radius: 100%;
	position: absolute;
	left: 16px;
	background: linear-gradient(to bottom, #f6e6b4 0%, #ed9017 100%);
}

.wheels {
	width: 80px;
	height: 80px;
	background-color: #2a2a2a;
	border-radius: 50%;
	padding: 15px;
	position: absolute;
	z-index: 3;
	animation: wheels 3.5s linear infinite reverse;
}

.wheels_left {
	top: 155px;
	left: 70px;
}

.wheels_right {
	top: 155px;
	left: 310px;
}

.wheels__disk {
	position: relative;
	width: 50px;
	height: 50px;
	background: radial-gradient(circle, rgba(153, 134, 4, 1) 20%, rgba(223, 188, 0, 1) 68%, rgba(135, 133, 64, 1) 100%);
	border-radius: 50%;
}

.wheels__screw {
	width: 5px;
	height: 5px;
	background-color: #525252;
	border-radius: 50%;
	position: absolute;
}

.wheels__screw_one {
	top: 22.5px;
	left: 11px;
}
.wheels__screw_two {
	top: 33px;
	left: 28px;
}
.wheels__screw_three {
	top: 22.5px;
	left: 34px;
}
.wheels__screw_four {
	top: 33px;
	left: 17px;
}

.wheels__screw_five {
	top: 12px;
	left: 28px;
}

.wheels__screw_six {
	top: 12px;
	left: 17px;
}

@keyframes wheels {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}

.bus__decore {
	background-color: #684c38;
	width: 200px;
	height: 7px;
	border-radius: 30px;
	position: absolute;
	top: 100px;
	left: 12px;
}

.bus__decore::before {
	content: "";
	background-color: #684c38;
	width: 50px;
	height: 7px;
	border-radius: 30px;
	position: absolute;
	top: 50px;
	left: 150px;
}

.bus__decore::after {
	content: "";
	background-color: #684c38;
	width: 50px;
	height: 7px;
	border-radius: 30px;
	position: absolute;
	top: 50px;
}

.bus__doors::after {
	content: "";
	background-color: #684c38;
	width: 50px;
	height: 7px;
	border-radius: 30px;
	position: absolute;
	top: 92px;
	left: 8px;
}
.bus__doors::before {
	content: "";
	background-color: #684c38;
	width: 50px;
	height: 7px;
	border-radius: 30px;
	position: absolute;
	top: 142px;
	left: 8px;
}

.bus__text {
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	top: 115px;
	left: 50px;
}
.bus__text::after {
	content: "BUS";
	font-family: sans-serif;
	font-size: 30px;
	font-weight: bold;
	position: absolute;
	left: 173px;
}

.bus__bulb {
	background: radial-gradient(ellipse at center, #f1825d 20%, #f04a18 26%, #f1825d 60%, #f04a18 100%);
	width: 15px;
	height: 7px;
	border-radius: 50%;
	border: 1px solid #fff39c;
	position: absolute;
	z-index: 2;
}

.bus__bulb_one {
	top: 2px;
	left: 20px;
}
.bus__bulb_two {
	top: 2px;
	left: 142px;
}
.bus__bulb_three {
	top: 2px;
	left: 300px;
}
.bus__bulb_four {
	top: 170px;
	left: 12px;
}
.bus__bulb_five {
	top: 170px;
	left: 405px;
}

.bus__wing {
	position: absolute;
	background: radial-gradient(circle, rgba(2, 0, 36, 1) 0%, rgba(223, 188, 0, 1) 65%, rgba(2, 0, 36, 1) 100%);
	width: 100px;
	height: 100px;
	border-radius: 50%;
	z-index: 2;
}
.bus__wing_left {
	top: 145px;
	left: 60px;
}
.bus__wing_right {
	top: 145px;
	left: 300px;
}

.bus__wing::before {
	content: "";
	position: absolute;
	top: 55px;
	width: 100px;
	height: 50px;
	background: #858585;
	z-index: 2;
}

.bus__bumper {
	width: 67px;
	height: 20px;
	position: absolute;
	z-index: 1;
	top: 180px;
	left: -3px;
	border-radius: 5% 9% 8% 4% / 28% 0% 0% 34%;
	background: linear-gradient(
		to bottom,
		#b5b5b5 0%,
		#bababa 26%,
		#8d8d8d 44%,
		#8d8d8d 44%,
		#8d8d8d 59%,
		#959595 60%,
		#a0a0a0 76%,
		#999999 99%,
		#a1a1a1 100%,
		#959595 100%
	);
}

.bus__bumper::after {
	content: "";
	width: 37px;
	height: 20px;
	position: absolute;
	z-index: 1;
	left: 400px;
	border-radius: 0% 4% 3% 0% / 0% 33% 36% 0%;
	background: linear-gradient(
		to bottom,
		#b5b5b5 0%,
		#bababa 26%,
		#8d8d8d 44%,
		#8d8d8d 44%,
		#8d8d8d 59%,
		#959595 60%,
		#a0a0a0 76%,
		#999999 99%,
		#a1a1a1 100%,
		#959595 100%
	);
}
